@charset "utf-8";

body{
	background-color: #7e9ce8;
}

#main{
	max-width: 43rem;
	margin: 0 auto;
	background-color: #fff;
	overflow: hidden;
}

section{
	max-width: 430px;
}

.innerWrap{
	padding-bottom: 5rem;
}

.font-aqua{
	color: #416fe6;
}

@keyframes bounce {
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-0.7rem);
	}
	100%{
		transform: translateY(0);
	}
}

.btn.btn1{
	width: 100%;
	padding: 2.6rem;
	background-color: #ff4794;
	border: none;
	border-radius: 0.8rem 0.8rem 0 0;
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
}

#purchasePopupWrap{
	position: relative;
}

#purchasePopupWrap.fixed{
	width: 100%;
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
}   

#header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 9999;
}

#header .logo{
	padding-top: 2.6rem;
	padding-bottom: 2.6rem;
	text-align: center;
	font-size: 2.4rem;
	color: #fff;
}

.main{
	width: 100vw;
	overflow: hidden;
}

#mainVisual{
	position: relative;
	background-color: #fff;
}

#mainVisual .videoWrap{
	width: 100%;
	height: 0;
	position: relative;
	padding-top: 193.72093%;
}

#mainVisual .mainVisual{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#mainVisual .descWrap{
	display: inline-block;
	position: absolute;
	top: calc(50% - 2.4rem);
	left: calc(50% - 12rem);
	text-align: center;
	z-index: 10;
}

#mainVisual .descWrap p{
	margin-bottom: 0.4rem;
	font-size: 2rem;
	font-weight: normal;
	color: #fff;
}

#info{
	padding-top: 11%;
	padding-bottom: 2rem;
	position: relative;
	background-color: #416fe6;
	text-align: center;
}

#info::before{
	content: '';
	width: 100%;
	height: 0;
	padding-top: 11%;
	position: absolute;
	top: -1px;
	left: 0;
	background: url(../img/bg_info_header.png) top center no-repeat;
}

#info::after{
	content: '';
	width: 100%;
	height: 0;
	padding-top: 11%;
	position: absolute;
	bottom: -4rem;
	left: 0;
	background: url(../img/bg_info_footer.png) top center no-repeat;
}

#info *{
	color: #fff;
}

#info .subTitle{
	margin-top: 9rem;
	font-size: 1.8rem;
}

#info .secTitle{
	margin-top: 0.5rem;
	font-size: 4.2rem;
	font-weight: bold;
	letter-spacing: -0.8px;
}

#info .contText{
	font-size: 2rem;
	line-height: 1.4;
}

#info .contBox{
	width: 100%;
	padding: 4rem 5.5rem;
	position: relative;
	border-radius: 0.8rem;
	background: url(../img/bg_info_insta.png)top center / cover no-repeat;
}

#info .contBox.box1{
	margin-top: 6rem;
}

/* #info .contBox.box1::before{
	content: '';
	width: 100%;
	height: 0;
	padding-top: 12.56410%;
	position: absolute;
	top: -40px;
	left: 0;
	background: url(../img/bg_info_instar.png) top center no-repeat;
	background-size: cover;
} */

#info .contBox.box1 .imgFrame{
	height: 0;
	margin-top: 4rem;
	padding-top: 100%;
	border-radius: 0.8rem;
	background: url(../img/img_info_insta.jpg) center center / cover no-repeat;
}


#info .contBox.box1 .iconWrap{
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#info .contBox.box1 .iconWrap .icon{
	width: 2.3rem;
	height: 2rem;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

#info .contBox.box1 .iconWrap .flexWrap{
	gap: 0.2rem;
}

#info .contBox.box1 .iconWrap .icon.heart{background-image: url(../img/icon_info_heart.svg);}
#info .contBox.box1 .iconWrap .icon.chat{background-image: url(../img/icon_info_chat.svg);}
#info .contBox.box1 .iconWrap .icon.dm{background-image: url(../img/icon_info_dm.svg);}
#info .contBox.box1 .icon.bookmark{background-image: url(../img/icon_info_marking.svg);}


#info .contBox.box1 .text{
	margin-top: 1rem;
	text-align: left;
	font-size: 1.4rem;
	color: #282828;
}

#info .contBox.box2{
	margin-top: 2rem;
	padding: 4rem 2rem;
	background: url(../img/bg_info_info.png) top center / cover no-repeat;
}

#info .contBox.box2 .boxTitle{
	top: -2rem;
	color: #fff;
}
#info .contBox.box2 .itemWrap{
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #bacbf6;
	text-align: left;
}

#info .contBox.box2 .itemWrap:first-of-type{
	border: none;
}

#info .contBox.box2 .itemWrap .itemTitle{
	font-size: 1.4rem;
	font-weight: 700;
	color: #bacbf6;
}

#info .contBox.box2 .itemWrap .itemText{
	margin-top: 0.5rem;
	font-size: 1.4rem;
	font-weight: 400;
	color: #fff;
}

#info .contBox.box2 .itemWrap .btn{
	padding: 0.8rem 2rem;
	border-radius: 0.8rem;
	font-size: 1.4rem;
	font-weight: 700;
	color: #274289;
}


#info .contBox.box2 .btnWrap{
	margin-top: 4rem;
	display: flex;
	gap: 1rem;
}

#info .contBox.box2 .btnWrap .btn{
	flex: auto;
	padding-top: 2.6rem;
	padding-bottom: 2.6rem;
	border-radius: 0.8rem;
	border: none;
	font-size: 2rem;
	font-weight: 700;
	color: #274289;
}

#info .contBox.box2 .btnWrap .btn.btn-pink{
	background-color: #FF4794;
	color: #fff;
}

#subVisual{
	margin-top: 4rem;
	padding-bottom: 13rem;
	background-color: #fff;
}

#subVisual .article1{
	padding-top: 14rem;
	background: url(../img/bg_subVisual_01.jpg) top center no-repeat;
	background-size: 100% 63rem;
}

#subVisual .article1 .imgBox{
	width: 100%;
	height: 53rem;
	margin-bottom: 3rem;
	padding-top: 10rem;
	position: relative;
	background: url(../img/bg_subVisual_02.jpg) center center no-repeat;
	background-size: cover;
	border-radius: 2rem;
}

#subVisual .article1 .imgBox:after{
	content: '';
	width: 24rem;
	height: 24rem;
	position: absolute;
	bottom: 2rem;
	right: -10.5rem;
	background: url(../img/img_subVisual_01.png) top right no-repeat;
	background-size: cover;
	animation: bounce 1.5s infinite;
}

#subVisual .article1 .articleTitle{
	height: 13.8em;
	position: relative;
	background: url(../img/title_bongsan.svg) center center no-repeat;
}

#subVisual .article .contText{
	font-size: 1.8rem;
	text-align: center;
}

#subVisual .article .contText:first-child{
	margin-top: 0;
}

#subVisual .article1 .contText{
	margin-top: 0.5rem;
}

#subVisual .article2{
	padding-top: 17rem;
	position: relative;
	background: url(../img/bg_subVisual_03.png) -18rem top no-repeat;
	background-size: 364px 515px;
}

#subVisual .article2 .articleTitle{
	width: 31.7rem;
	height: 11.8rem;
	margin: 0 0 0 auto;
	background: url(../img/title_bongsanLeisure.svg) center center no-repeat;
}

#subVisual .article2 .imgBox{
	width: calc(75% - 16px);
	height: 40rem;
	margin: 3.4rem 0 0 auto;
	background: url(../img/img_subVisual_02.jpg) center center no-repeat;
	background-size: cover;
	border-radius: 2rem;
}

#subVisual .article2 .imgBox .imgDesc{
	width: 18.4rem;
	height: 20rem;
	margin-left: 6rem;
	padding-top: 8.6rem;
	background: url(../img/title_aJetBoat.svg) center center no-repeat;
	background-size: contain;
}

#subVisual .article2 .imgTitle{
	margin-top: 2.4rem;
	font-size: 2.8rem;
	font-weight: bold;
	color: #416fe6;
	text-align: right;
}

#subVisual .article2 .contText{
	margin-top: 0.6rem;
	font-weight: normal;
	text-align: right;
}

#subVisual .article3{
	margin-top: 13rem;
}

#subVisual .article3 .imgBox{
	width: 100%;
	height: 33rem;
	margin-left: 2rem;
	padding-top: 0.5rem;
	position: relative;
	background: url(../img/img_subVisual_03.jpg) center center no-repeat;
	background-size: cover;
	border-radius: 2rem;
}


#subVisual .article3 .imgBox::after{
	content: '';
	width: 20.1rem;
	height: 15.3rem;
	position: absolute;
	bottom: -6rem;
	right: 0;
	background: url(../img/img_subVisual_04.png) center center no-repeat;
	z-index: 100;
	animation: bounce 1s infinite;
}

#subVisual .article3 .imgBox .imgDesc{
	width: 14.5rem;
	height: 10.4rem;
	background: url(../img/title_wow.svg) center center no-repeat;
	background-size: contain;
	margin: 0 7.1rem 0 auto;
	animation: bounce 1.3s linear infinite;
}

#subVisual .article3 .imgTitle{
	margin-top: 2.4rem;
	font-size: 2.8rem;
	font-weight: bold;
	color: #416fe6;
}

#subVisual .article3 .contText{
	margin-top: 0.8rem;
	font-weight: normal;
	text-align: left;
}

#subVisual02{
	padding-top: 3rem;
	position: relative;
	background-color: #fff;
}

#subVisual02::before{
	content: '';
	width: 100%;
	height: 42rem;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #416fe6;
	border-radius: 0 0 2rem 2rem;
}

#subVisual02 .article1 .articleTitle{
	width: 100%;
	height: 15.2rem;
	position: relative;
	background: url(../img/title_waterRide.svg) center center / contain no-repeat;
	z-index: 10;
}

#subVisual02 .article1 #slide{
	display: flex;
	margin-top: 2rem;
}

#subVisual02 .article1 #slide .slick-list{
	padding: 0 3rem 0 1rem;
}

#subVisual02 .article1 #slide .slideItem{
	width: calc(100% - 3rem);
	height: 45rem;
	margin: 0 1rem;
	position: relative;
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 2rem;
}

#subVisual02 .article1 #slide .slideItem.item1{background-image: url(../img/../img/img_subVisual02_slide01.jpg);}
#subVisual02 .article1 #slide .slideItem.item2{background-image: url(../img/../img/img_subVisual02_slide01.jpg);}
#subVisual02 .article1 #slide .slideItem.item3{background-image: url(../img/../img/img_subVisual02_slide01.jpg);}
#subVisual02 .article1 #slide .slideItem.item4{background-image: url(../img/../img/img_subVisual02_slide01.jpg);}

#subVisual02 .article1 #slide .slideItem .descBox{
	height: 17.4rem;
	padding: 4rem 3rem;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	border-radius: 2rem 2rem 0 0;
}

#subVisual02 .article1 #slide .slideItem .descBox .itemTitle{
	font-size: 2.2rem;
	font-weight: bold;
	color: #416fe6;
}

#subVisual02 .article1 #slide .slideItem .descBox .itemTitle .small{
	font-size: 1.6rem;
}

#subVisual02 .article1 #slide .slideItem .descBox .itemDesc{
	margin-top: 1rem;
	font-size: 1.6rem;
	line-height: 1.4;
	word-break: keep-all;
	color: #416fe6;
}

#subVisual02 .article1 #slide .slick-dots{
	width: 20rem;
	height: 0.4rem;
	margin: 2rem auto 0;
	position: absolute;
	left: calc(50% - 10rem);
	bottom: -2rem;
	display: flex;
	background-color: #f0f0f0;
	border-radius: 4px;
}

#subVisual02 .article1 #slide .slick-dots li{
	width: 25%;
	height: 0.4rem;
	margin: 0;
	border-radius: 4px;
}

#subVisual02 .article1 #slide .slick-dots li.slick-active{
	background-color: #416fe6;
}

#subVisual02 .article1 #slide .slick-dots li button{
	width: 100%;
	height: 100%;
}

#subVisual02 .article1 #slide .slick-dots li button:before{
	content: none;
}

#subVisual02 .article2{
	margin-top: 24rem;
	position: relative;
}

#subVisual02 .article2 .articleTitle{
	width: 29.3rem;
	height: 13.8rem;
	position: absolute;
	top: -13rem;
	right: 0;
	background: url(../img/title_summer.svg) center center / contain no-repeat;
}

#subVisual02 .article2 .imgBox{
	width: 100%;
	height: 26rem;
	position: relative;
	background: url(../img/img_subVisual02_01.png) center center / cover no-repeat;
	border-radius: 2rem;
}

#subVisual02 .article2 .imgBox::after{
	content: '';
	width: 16rem;
	height: 16rem;
	position: absolute;
	top: -8rem;
	right: -8rem;
	background: url(../img/img_subVisual02_02.png) center center / cover no-repeat;
	animation: bounce 1.25s infinite;
}


#subVisual02 .article2 .txtBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#subVisual02 .article2 .txtBox .imgTitle{
	font-size: 2.8rem;
	font-weight: bold;
	color: #416fe6;
}

#subVisual02 .article2 .txtBox .imgDesc{
	margin-top: 1rem;	
	font-size: 1.8rem;
}


#subVisual03{
	margin-top: 15rem;
	padding-bottom: 5rem;
	background: url(../img/bg_subVisual_01.jpg) center 15rem / cover no-repeat;
}

#subVisual03 .secTitle{
	width: 19.5rem;
	height: 6.7rem;
	margin: 0 auto;
	background: url(../img/title_happyTrip.svg) center center / contain no-repeat;
}

#subVisual03 .contText{
	margin-top: 0.7rem;
	font-size: 1.8rem;
	text-align: center;
}

#subVisual03 .contText:first-child{
	margin-top: 3rem;
}

#subVisual03 .imgBox{
	margin-top: 3rem;
	height: 0;
	padding-top: 92.3077%;
	position: relative;
	background: url(../img/img_subVisual03_01.png) center center / cover no-repeat;
}

#subVisual03 .imgBox .imgTitle{
	width: 19.4rem;
	height: 6.5rem;
	position: absolute;
	top: 1.4rem;
	right: 2rem;
	background: url(../img/title_healingZone.png) center center / contain no-repeat;
}



#faq{
	padding-top: 8rem;
	padding-bottom: 8rem;

}

#faq .secTitle{
	font-size: 3.6rem;
	font-weight: bold;
	text-align: center;
}


#faq .faqList{
	margin-top: 2rem;
	padding: 1.5rem;
	background-color: #f8f8f8;
	border-radius: 1rem;
}

#faq .faqList .question{
	padding: 1.8rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#faq .faqList .question:first-child{padding-top: 0;}
#faq .faqList .question:last-child{padding-bottom: 0;}

#faq .faqList .question .title{
	display: flex;
	align-items: center;
	font-size: 1.8rem;
	color: #494949;
}

#faq .faqList .question .title .icon{
	margin-right: 1rem;;
	font-size: 3.2em;
	font-weight: bold;
	color: #416fe6;
}

#faq .faqList .question .btn.activeBtn{
	width: 2.8rem;
	height: 2.8rem;
	background: url(../img/icon_faq_showBtn.svg) center center / cover no-repeat;
	border: none;
	border-radius: 50%;
}

#faq .faqList .question .btn.activeBtn.active{
	background: url(../img/icon_faq_closeBtn.svg) center center / cover no-repeat;
}

#faq .faqList .answer{
	padding: 1.2rem 2.5rem 1.2rem 1rem;
	display: none;
	background-color: #fff;
	border-radius: 0.8rem;
	font-size: 0;
}

#faq .faqList .answer .icon{
	width: 2rem;
	padding-right: 0.8rem;
	display: inline-block;
	vertical-align: top;
	font-size: 2rem;
	font-weight: bold;
	color: #416fe6;
}

#faq .faqList .answer .context{
	width: calc(100% - 2rem);
	display: inline-block;
	vertical-align: top;
	font-size: 1.6rem;
	color: #494949;
	word-break: keep-all;
	line-height: 1.4;
}

#footer{
	padding: 6rem 3rem;
	background-color: #2a2a2a;
}

#footer .phoneNum{
	display: flex;
	align-items: center;
	font-size: 2.2rem;
	color: #fff;
}

#footer a{
	font-size: inherit;
	color: inherit;
}

#footer .email{
	margin-top: 1.2rem;
	display: flex;
	align-items: center;
	font-size: 2rem;
	font-weight: normal;
	color: #fff;
}

#footer .contact{
	margin-top: 0.4rem;
	font-size: 1.4rem;
	color: #fff;
}

#footer .copyright{
	margin-top: 2.6rem;
	display: block;
	font-size: 1.2em;
	font-weight: 400;
	font-style: normal;
	color: #fff;
	letter-spacing: normal;
}

#pop{
	width: 100%;
	height: 100vh;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
}

#pop.on{
	display: block;
}

#pop .popupFrame{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	background-color: #fff;
}

.contTitle{
	margin-bottom: 1rem;
	font-size: 1.6rem;
	font-weight: bold;
	color: #888;
}

.popupContent{
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 4rem 2rem 0;
	flex-grow: 0;
	overflow-y: auto;
}

.popupContent ul{
	margin-bottom: 2rem;
	padding-top: 2rem;
	padding-bottom: 1.9rem;
	border-bottom: 1px solid #f0f0f0;
}

.popupContent ul:last-of-type{
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}

.popupContent li{
	padding-left: 1rem;
}

.popupContent li,
.popupContent li p{
	font-size: 1.6rem;
	line-height: 1.4;
	color: #888;
}

.popupContent li::before{
	content: '*';
	margin-left: -1rem;
	padding-right: 0.5rem;
	font-size: 1.2rem;
}

.closePopupBtn{
	width: 100%;
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
	background-color: #494949;
	border: none;
	font-size: 2rem;
	color: #fff;
	line-height: 1;
}


.popup-container {
  width: 100%;
	max-height: calc(100vh - 3rem);
	display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content {
	max-height: calc(100vh - 10.6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
	overflow-y: auto;
}

.popup-content h2 {
  margin-top: 0;
}

.product-selection{
	width: 100%;
	padding: 2rem;
	border-bottom: 1px solid #e3e3e3;
}

.product-selection select{
	width: 100%;
	padding: 1.6rem 2rem;
	border: 1px solid #bfbfc3;
	border-radius: 0.5rem;
	font-size: 1.6rem;
	line-height: 1;
	color: #282828;
}

.product-selection option{
	font-size: 1.6rem;
}

.selected-products {
	width: 100%;
}

.selected-products ul {
	width: 100%;
  padding: 0;
  margin: 0;
}

.selected-products li {
	padding: 2rem;
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: space-between;
	border-bottom: 1px solid #e2e2e3;
}

.product-info {
	width: 100%;
  display: flex;
	justify-content: space-between;
  align-items: center;
}

.product-sequence {
	margin-right: 1rem;
	font-size: 1.6rem;
}

.product-name {
  margin-right: 1rem;
	flex-grow: 1;
	font-size: 1.6rem;
}

.delete-button {
  background-color: transparent;
  color: #999;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.delete-button:hover {
  color: #666;
}

.quantity-info {
	width: 100%;
  display: flex;
	justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.decrease-button,
.increase-button {
  background-color: transparent;
  color: #999;
  border: 1px solid #ccc;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.4rem;
}

.decrease-button{
	border-radius: 4px 0 0 4px;
	border-right: none;
}

.increase-button{
	border-radius: 0 4px 4px 0;
	border-left: none;
}

.quantity-input {
  width: 4.4rem;
  height: 3rem;
  border: 1px solid #ccc;
  padding: 3px 6px;
  text-align: center;
  font-size: 14px;
	line-height: 1;
	overflow: hidden;
}

.quantity-input:disabled{
	background-color: #fff;
}

.summary-item {
	width: 100%;
	padding: 2rem;
  display: flex;
	justify-content: space-between;
  align-items: center;
}

.total-quantity,
.total-price {
	font-size: 1.6rem;
}

.purchase-button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.purchase-button:hover {
  background-color: #0c7fd7;
}

.close-button {
	width: 14rem;
	height: 3rem;
  position: absolute;
  top: -3rem;
  left: calc(50% - 7rem);
  background-color: #fff;
  border: none;
	border-radius: 0.5rem 0.5rem 0 0;
	box-shadow: 0 -5px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  color: #999;
  cursor: pointer;
}

.close-button:hover {
  color: #666;
}

.close-button .icon{
	width: 1.6rem;
	height: 0.8rem;
	background: url(../img/icon_purchase_closeBtn.svg) center center / cover no-repeat;
}
